.container-dashboard {
  border-radius: 15px;
  height: fit-content;
  background-color: white;
  padding: 40px;
  box-shadow: 0 0 15px rgba(101, 0, 79, 0.4);
}

.dashboard-section {
  height: 400px;
}
