<div class="banner">
  <div class="container">
    <h2>Congratulations!</h2>
    <h3>You will have <%=@superstar.name%> join you at your <%=@superstar.event_type%>!</h3>
    <br>
    <br>
    <h4>TOTAL PRICE €<%=@superstar.price%></h4>
    <br>
    Thanks for choosing Celebritify!
    <br>
    <%= link_to 'Find other Superstars', superstars_path, class:'btn btn-primary'%>
  </div>
</div>
