<div class="footer">
  <div class="footer-copyright text-center">
    @Copyright Celebritify 2021
  </div>
   <div class="footer-socialmedia">
      <div class="fbicon">
        <%= image_tag 'https://logodix.com/logo/939279.png'%>
      </div>
      <div class="twicon">
        <%= image_tag 'https://logodix.com/logo/1049774.png'%>
      </div>
    </div>
</div>


<%# .fbicon, .twicon, .pticon %>
