  <div class="row">
    <div class="col-sm-1 col-md-12">
      <div class="d-flex justify-content-right">
        <% @superstars.each do |superstar| %>
          <div class="card mr-4">
            <div class="card-body">
              <h2 class="card-title"><h3><%= link_to superstar.name, superstar_path(superstar) %></h3>
              <div>
                <%= link_to 'Enter', superstar, class:"btn btn-primary"%>
                <%= link_to 'Delete', superstar, class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

</div>
