.card {
  height: 250px;
  width: 280px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 15px;
  height: fit-content;
}

.card-body {
  background-color: rgba(101, 0, 79, 1);
  height: fit-content;
}

.card-title {
  color: white;
  text-decoration: none;
}

.card-text {
  color: darkgray;
}
