.card {
  height: 250px;
  width: 280px;
  margin-bottom: 25px;
  margin-right: 10px;
  border-radius: 15px 15px 15px 15px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  border: none;
}

.card img {
  height: 200px;
  width: 289px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

.card-body {
  background-color: rgba(101, 0, 79, 1);
  height: fit-content;
  border-radius: 0px 0px 15px 15px;
}

.card-title {
  color: white;
  text-decoration: none;
}

.card-text {
  color: darkgray;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
