.navbar-lewagon {
  justify-content: space-between;
  background: #c486b6;
;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 2rem;
  width: 60px;
}

.nav-item .nav-item-active {
  color: white;
}
