.navbar-lewagon {
  justify-content: space-between;
  background: rgba(101, 0, 79, 1);
;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 2rem;
  width: 60px;
}

.nav-link {
  color: white;
  margin-right: 5px;
}

.nav-link:hover {
  color: black;
  margin-right: 5px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0px;
}
