.booking-title {
  font-size: 45px;
  color: rgb(54, 2, 43);
  margin: 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-bottom: 5px;
}

.showpage-texts {
  font-size: 20px;
  color: rgb(70, 2, 55);
  margin: 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif
}

.left-text {
  text-align: left;
  margin-top: 10px;
}

.forms-right {
  text-align: right;
  margin-top: 85px;
}

.review-text {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  margin-top: 30px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif
}

.center-review {
  text-align: center;
}

.review-mini-texts {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin: 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif
}

.container-show {
  background-color: white;
  padding: 40px;
  box-shadow: 0 0 15px rgba(255,255,255, 1);
}

.container-show img {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.text-input-white {
  color: white;
}

.show-body {
  background-color:rgb(70, 2, 55);
}
