.booking-title {
  font-size: 45px;
  color: rgb(54, 2, 43);
  margin: 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-bottom: 5px;
}

.showpage-texts {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(70, 2, 55);
  margin: 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif
}

.left-text {
  text-align: left;
  margin-top: 10px;
}

.forms-right {
  text-align: right;
}
